.header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
}

.wrapper {
    display: flex;
}

.store-title {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

@media (max-width:390px) {
    .header{
        padding: 0 15px;
    }
}