* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 26, 28);
}

.App {
    margin: 0 auto;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.secondary-text {
    color: rgb(83, 83, 83);
}

@media (max-width: 420px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .App {
        padding: 0;
    }
}