* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

body {
    /* background-color: rgb(25, 26, 28); */
    background: url(./fim-covers/backgroud.jpg);
    background-size: cover;
}

.App {
    margin: 0 auto;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.secondary-text {
    color: rgb(83, 83, 83);
}

@media (max-width: 420px) {
    body{
        /* background: url(./fim-covers/background-phone.webp); */
        /* backdrop-filter: blur(20px); */
        background: rgb(41, 41, 101);
    }
}

